@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

body{
    background-color: beige;
}

.titleContainer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: white;
    display: block;
    margin: auto;
}

.HBD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p#timelineTitle{
    background-color: blanchedalmond;
    font-family: Garamond;
}

div.container{
    background-color: rgb(252, 191, 112);
    width: 90%;
	max-width: 1400px;
	margin: auto;
    padding: 20px;
    
}

div.entry_1, div.entry_2, div.entry_3, div.entry_4{
    margin-bottom: 15px;
    padding: 20px;
    display: block;
}

div.entry_1{
    background-color: #D14D72;
}

div.entry_1 > p{
    color: #FEF2F4;
}

div.entry_2{
    background-color: #FFABAB;
}

div.entry_3{
    background-color: #FCC8D1;
}

div.entry_4{
    background-color: #FEF2F4;
}

img#entryImg{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 12px;
}

div#goodwillMoments_container{
    background-color: black;
    height: 400px;
    width: 100%;
    margin-bottom: 12px;
}

div#goodwillMoments_container_2{
    background-color: black;
    height: 250px;
    width: 100%;
    margin-bottom: 12px;
}

p.entryParagraph{
    text-align: justify;
    text-decoration: none;
}

p#HBD{
    font-size: 90pt;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

p#scrollDown{
    color: white;
    font-family: 'Arial', sans-serif;
}

div.scrollDown{
    position: relative;
    top: 150px;
}

a.fillDiv{
    text-decoration: none;
    color: black;
}

/*--baloons===========================================================*/

#balloon-container {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: opacity 500ms;
    z-index: 2;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }
