body{
    background-color: beige;
}

.titleContainer{
    background-color: aqua;
}

.HBD{
    background-color: aquamarine;
    text-align: center;
}

p#timelineTitle{
    background-color: blanchedalmond;
    font-family: Comfortaa;
}

div.container{
    background-color: aqua;
    width: 90%;
	max-width: 1400px;
	margin: auto;
    padding: 20px;
    
}

div.entry{
    margin-bottom: 15px;
    padding: 20px;
    display: block;
}

div#entry_1{
    background-color: rgb(32, 255, 225);
	border: 2px solid #0c0101;
}

div#entry_2{
    background-color: rgb(30, 187, 166);
	border: 2px solid #0c0101;
}

div#entry_3{
    background-color: rgb(11, 105, 93);
	border: 2px solid #0c0101;
}

div#entry_4{
    background-color: rgb(79, 165, 152);
	border: 2px solid #0c0101;
}

div#entry_3 > p{
    color: antiquewhite;
}

img#entryImg{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 16px;
}

div#goodwillMoments_container{
    background-color: black;
    height: 400px;
    width: 100%;
    margin-bottom: 16px;
}

