@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

body{
    background-color: beige;
    transition: background 1s ease;
}

div.titleContainer{
    background-image: linear-gradient(180deg, rgb(255, 188, 62), rgb(255, 188, 62), rgb(255, 188, 62), rgb(255, 188, 62), rgb(190, 135, 33));
    background-color: rgb(255, 188, 62);
    text-align: center;
    height: 100vh;
    margin: 0;
}

div.HBD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.timelineTitle{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    padding: 35px;
}
div.timelineTitle > div{
    border-style: solid;
    border-width: 14px;
    border-color: rgb(255, 255, 255);
}
p.timelineTitle{
    font-size: 34pt;
    text-align: center;
    font-family: Garamond;
}

div.container{
    width: 90%;
	max-width: 1400px;
	margin: auto;
    padding: 20px;
    
}

div.entry_1, div.entry_2, div.entry_3, div.entry_4{
    margin-bottom: 15px;
    padding: 20px;
    display: block;
}

div.entry_1{
    background-color: #D14D72;
}

div.entry_1 > p{
    color: #FEF2F4;
}

div.entry_2{
    background-color: #FFABAB;
}

div.entry_3{
    background-color: #FCC8D1;
}

div.entry_4{
    background-color: #FEF2F4;
}

img#entryImg{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 12px;
}

div#goodwillMoments_container{
    background-color: black;
    height: 400px;
    width: 100%;
    margin-bottom: 12px;
}

div#goodwillMoments_container_2{
    background-color: black;
    height: 250px;
    width: 100%;
    margin-bottom: 12px;
}

p.entryParagraph{
    text-align: justify;
    text-decoration: none;
}

p#HBD{
    font-size: 90pt;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

p#scrollDown{
    color: white;
    font-family: 'Arial', sans-serif;
}

div.scrollDown{
    position: relative;
    top: 150px;
}

a.fillDiv{
    text-decoration: none;
    color: black;
}

div.toTheDarkDepths{
    position:relative;
    width: 90%;
	max-width: 1400px;
	margin: auto;
    padding: 20px;
    height: 15000px;
    background-image: linear-gradient(180deg, rgb(248, 185, 215), rgb(146, 0, 231), rgb(21, 0, 80),black);
}

div#a_bit_under{
    background-color: none;
    position: relative;
    top:10000px;
}

div.entrySecret{
    position: relative;
    top:90%;
    left:50%;
    transform: translate(-50%,0);
    background-color: black;
    max-width: 70%;
}

div.entrySecret > p{
    color: whitesmoke;
}

/*--baloons===========================================================*/

#balloon-container {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: opacity 500ms;
    z-index: 2;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }
